<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h5,h6 {font-family: "Karma", sans-serif}

h4{
  color: white;
  font-family: Arial;
  font-size: 50px;
}

body {
  background-color: grey;
}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <a href="Geocache-Treasure-Hunt-Card.html" onclick="w3_close()" class="w3-bar-item w3-button">Available Hunts</a>
  <a href="Collection.html" onclick="w3_close()" class="w3-bar-item w3-button">Collection</a>
  <a href="TreasureHunt.html" onclick="w3_close()" class="w3-bar-item w3-button">Return to the Hunt</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">&#9776;</div>
    <div class="w3-center w3-padding-16">Geo Cache Treasure Hunt</div>
  </div>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

<div class="w3-container w3-padding-32 w3-center">
  <h4>Map of your current Hunt</h4><br>

<!-- Enter code for Map here --



<!-- End page content -->


<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
